@import url('https://fonts.googleapis.com/css?family=Copse|Delius+Swash+Caps|Gabriela|Unkempt&display=swap');
html{
  scroll-behavior: smooth;
}
.home-page{
    background-image: url('../images/backgrounds/h_img.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top:19%; 
  }
  .home-page h1{
    padding: 2px;
    margin: 5px;
  }
  .home-page p{
    padding: 2px;
  }
  .about{
    text-align: center;
    padding-bottom: 25px;
    padding-top:30px;
  }
  #about{
    font-family: sans-serif;
  }
  .services{
    background-image: url("../images/backgrounds/s_image.jpg");
    color: white;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 17px;
  }
  #service-section{
    background-color: rgba(0,0,0,0.4);
    padding-top: 12%;
    padding-bottom: 12%;
  }
  .our-work{
    text-align: center;
    padding-top: 35px;
  }
  .our-work .headings{
    padding-bottom: 38px;
  }
  #portfolio{
    align-items: center;
    margin-left:16%;
    margin-right: 15%; 
    display: flex;
    flex-wrap: wrap;
    
  }
  .portfolio h2{
    padding-top:38px;
    text-align: center;
  }
  .col-md-3 img{
    max-width: 100%;
    max-height: 100%;
  }
  .contact-us{
    color: white;
    background-image: url('../images/backgrounds/c_image.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .contact-us h2{
    text-align: center;
    padding-top: 38px;
    margin-top: 28px;
    padding-bottom: 20px;
  }
  
  input[type=text],input[type=email],#content{
    background: transparent;
    color: white;
    font-size: 20px;
  }
  .form-control::-webkit-input-placeholder { 
    color: white; 
  }
  #name{
    width: 38%;
    margin-left: 18%;
    margin-right: 40px;
  }
  #email{
    width: 30%;
  }
  #content{
    margin-left: 18%;
    width: 70%;
  }
  .btn{
    margin-left: 20%;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }