@import url('https://fonts.googleapis.com/css?family=Copse|Delius+Swash+Caps|Gabriela|Unkempt&display=swap');
html{
  scroll-behavior: smooth;
}
.home-page{
    background-image: url('../images/backgrounds/h_img.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top:19%; 
  }
  .home-page h1{
    padding: 2px;
    margin: 5px;
  }
  .home-page p{
    padding: 2px;
  }
  .about{
    text-align: center;
    padding-bottom: 25px;
    padding-top:30px;
  }
  #about{
    font-family: sans-serif;
  }
  .services{
    background-image: url("../images/backgrounds/s_image.jpg");
    color: white;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 17px;
  }
  #service-section{
    background-color: rgba(0,0,0,0.4);
    padding-top: 12%;
    padding-bottom: 12%;
  }
  .our-work{
    text-align: center;
    padding-top: 35px;
  }
  .our-work .headings{
    padding-bottom: 38px;
  }